* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #efefef;
}

a:visited {
	color: #efefef;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: rgba(241, 241, 241, 0.8);
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 20px auto
}

h2, h3 {
	margin: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

#book-display {
	display: none;
}

.book-view {
	display: none;
}

.search-result-view {
	display: none;
}

.item {
	margin: 10px auto;
}

.container {
	min-height: 800px;
	margin: 0 auto;
}

.banner {
	
	border-bottom:  1px solid #014090;
	background: linear-gradient(to right, rgba(0, 94, 158, 1), rgba(0, 95, 160, .8));
	padding-bottom: 10px;
	box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 2rem;
	color:  #eef2f5;
	text-shadow: 1px 1px black;
	margin: 0;
	padding: 10px 10px 10px 30px;
}

.home-view {
	padding-top: 25px;
    width: 80%;
    margin: 0 auto;

}

.card {
	letter-spacing: 1px;
    border: 1px solid #0074c3;
    color: #eef2f5;
    background-color: rgba(0, 64, 109, 0.9);
    border-radius: 60px 20px 40px 20px;
	padding: 25px 40px;
	font-size: 1.30rem;
	box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.25);
}

.app-introduction {
	text-align: left;
	font-size: 30px;
}

.book-data {
	width: 65%;
	margin: 20px auto;
}

.js-search-bar {
    width: 25%;
    font-size: 12px;
    border-radius: 20px 10px;
    padding: 10px;
}

.search.btn {
	padding-left: 50px;
	padding-right: 50px;
}

.btn {
    padding: 10px;
    color: #eef2f5;
    text-shadow: 1px 1px #000;
    border: none;
    background: #00b19a;
    font-size: 14px;
    border-radius: 20px 10px;
}

.btn:hover {
	box-shadow: 1px 1px 10px #015449;
    color: #fff;
    cursor: pointer;
    background-color: #1c7166;
}

.book-title {
	letter-spacing: 5px;
	margin-bottom: 0;
}

.synopsis {
	text-indent: 50px;
    text-align: left;
    letter-spacing: 1.6px;
    word-spacing: 1.35px;
    line-height: 30px;
}

.by-text {
    margin-top: 10px;
}

.book-author {
	margin-bottom: 20px;
}

.buy-btn {
	margin-top: 10px;
}

.book-info-link {
	cursor: pointer;
}

.book-cover {
	height: 250px;
    width: auto;
}

.additional-info {
	line-height: 1.4;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: left;
    margin: 5px
}

.list-synopsis-container {
	margin-top: 10px;
	min-height: 350px;
    padding-top: 10px;
    border: 1px solid #05619f;
}

.list-synopsis-container:hover {
	border: 1px solid #00b19a;
}

.list-book-cover {
	height: 200px;
	width: auto;
}

.list-book-title {
	font-size: 25px;
    letter-spacing: 1px;
    max-height: 78px;
    overflow: hidden;
    
}

.shadows {
	text-shadow: 1px 2px 3px #000;
}

.list-book-synopsis {
	height: 140px;
    overflow: hidden;
}

.recommendations {
	width: 70%;
	margin: 20px auto;
}

footer {
	letter-spacing: 2px;
    text-shadow: 1px 1px #000;
	overflow: hidden;
	background-color: rgba(0, 10, 20, .9);
	color: #eef2f5;
}

.credit {
	font-size: 10px;
}


/******** Grid Styles *********/

.row {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.card-col {
	width: 80%;
	margin: 20px auto;
}

.app-intro-col {
	float: left;
	width: 55%;
	margin: 20px 0;
}

.col-2 {
	float: left;
	width: 45%;
	margin: 20px 15px;
}

.col {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
   width: 33.33%;
}

/* Clearfix */
 .clearfix::before,
 .clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px
}

@media screen and (max-width: 930px) {
  .col {
    width: 50%;
  }

  .card-col {
	width: 100%;
	margin: 10px auto;
}

.wrapper {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
  
  .card {
  	padding: 25px;
  	border-radius: 0;
  }

  .col-2, .app-intro-col {
  	 width: 100%;
  }

  .logo {
	font-size: 1.75rem;
	}

	.list-book-title {
	font-size: 20px;
    letter-spacing: 1px;
    
}

	.home-view {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.body-search-bar {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

   .submit-button {
    margin-top: 10px;
  	width: 70%;
	}

	.js-search-bar {
	 width: 87%;
	 margin-left: auto;
     margin-right: auto;
     margin-bottom: 15px;
     display: block;
	}

	.btn {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 87%;
	}
}

@media screen and (max-width: 530px) {
 
  .col {
    width: 100%;
  }

  .wrapper {
	display: block;
}

 
}


