* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background: url('images/bookcover.png') no-repeat;
	background-size: cover;
}

ul {
	list-style: none;
}

h2, h3 {
	margin: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.book-view {
	display: none;
}

.recommend-view {
	display: none;
}

.nav-item {
	display: inline;
}

.item {
	display: block;
	margin: 10px auto;
}

.container {
	
	min-height: 650px;
	margin: 0 auto;
	background-color: rgba(239, 239, 239, .2);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.25);
}

.logo {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.25rem;
	color: #fff;
	text-shadow: 1px 1px black;
	border-bottom:  1px solid #014090;
	background: linear-gradient(to right, rgba(0, 94, 158, 1), rgba(0, 95, 160, .8));
}
.logo h1 {
	margin: 0;
	text-align: left;
	padding: 10px 10px 10px 30px;
}

.home-view {
	padding-top: 25px;
    width: 80%;
    margin: 0 auto;

}

.app-introduction, .book-search {
	letter-spacing: 1px;
    border: 1px solid #0074c3;
    color: #eef2f5;
    text-shadow: 1.25px 1.75px #000;
    background-color: #3680b3;
    border-radius: 60px 20px 40px 20px;
	padding: 25px 40px;
	text-align: left;
	font-size: 30px;
}

.book-data {
	width: 65%;
	margin: 20px auto;
}
.header-search-bar {
	width: 20%;
	display: none;
}

.body-search-bar {
	margin-top: 20px;
	width: 100%;
    padding: 20px;
}

.submit-button {
	margin-top: 17px;
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 2%;
    background: #0ac734;
}

footer {
	letter-spacing: 2px;
    text-shadow: 1px 1px #000;
	overflow: hidden;
	background-color: rgba(0, 10, 20, .9);
	color: #eef2f5;
}


/******** Grid Styles *********/

.row {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.col-2 {
	float: left;
	width: 45%;
	margin: 20px 15px;
}

.col {
  float: left;
  padding-left: 1.046666%;
  padding-right: 1.046666%;
   width: 33.33%;
}

/* Clearfix */
 .row::before,
 .row::after {
  display: table;
  content: '';
}

@media screen and (max-width: 640px) {
  .col {
    width: 50%;
  }

  .col-2 {
  	 width: 100%;
  }

  .logo {
	font-size: 1.75rem;
	}
}

@media screen and (max-width: 400px) {
 
  .col {
    width: 100%;
  }


  .logo {
  	font-size: 2rem;
  }
}


