* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: rgba(81, 118, 121, 0.69);
	/* background: url('images/bookcover.png') no-repeat;
	background-size: cover; */
}

ul {
	list-style: none;
}

h2, h3 {
	margin: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.book-view {
	display: none;
}

.recommend-view {
	display: none;
}

.nav-item {
	display: inline;
}

.item {
	display: block;
	margin: 10px auto;
}

.container {
	
	min-height: 750px;
	margin: 0 auto;
	/* background-color: rgba(239, 239, 239, .2); */
	
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.25);
}

.banner {
	
	border-bottom:  1px solid #014090;
	background: linear-gradient(to right, rgba(0, 94, 158, 1), rgba(0, 95, 160, .8));
	padding-bottom: 10px;
}
.logo {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 2rem;
	color:  #eef2f5;
	text-shadow: 1px 1px black;
	margin: 0;
	padding: 10px 10px 10px 30px;
}

.home-view {
	padding-top: 25px;
    width: 80%;
    margin: 0 auto;

}

.card {
	letter-spacing: 1px;
    border: 1px solid #0074c3;
    color: #eef2f5;
    /* text-shadow: 1.25px 1.75px #000; */
    background-color:  rgba(54, 128, 179, .9);
    border-radius: 60px 20px 40px 20px;
	padding: 25px 40px;
	font-size: 1.30rem;
}

.app-introduction {
	text-align: left;
	font-size: 30px;
}

.book-data {
	width: 65%;
	margin: 20px auto;
}

.body-search-bar {
    width: 25%;
    font-size: 12px;
    padding: 10px;
}

.submit-button {
      /* margin-top: 10px; */
    /* margin-right: 20px; */
    padding: 10px;
    color: #eef2f5;
    text-shadow: 1px 1px #000;
    border: none;
    border-radius: 2%;
    background: #00af70;
    font-size: 14px;
}

.additional-info {
	line-height: 1.4;
    font-size: 20px;
}

.recommendations {
	width: 70%;
	margin: 20px auto;
}

footer {
	letter-spacing: 2px;
    text-shadow: 1px 1px #000;
	overflow: hidden;
	background-color: rgba(0, 10, 20, .9);
	color: #eef2f5;
}


/******** Grid Styles *********/

.row {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.card-col {
	width: 70%;
	margin: 20px auto;
}

.col-2 {
	float: left;
	width: 45%;
	margin: 20px 15px;
}

.col {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
   width: 33.33%;
}

/* Clearfix */
 .clearfix::before,
 .clearfix::after {
  display: table;
  clear: both;
  content: '';
}

@media screen and (max-width: 700px) {
  .col {
    width: 50%;
  }

  .card-col {
	width: 100%;
	margin: 0;
}

  .col-2 {
  	 width: 100%;
  }

  .logo {
	font-size: 1.75rem;
	}

	.home-view {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.body-search-bar {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

   .submit-button {
    margin-top: 10px;
  	width: 70%;
	}
}

@media screen and (max-width: 400px) {
 
  .col {
    width: 100%;
  }


  .logo {
  	font-size: 1.25rem;
  }
}


